header {
    background-color: yellow;
}

h2, h3 {
    color: green;
}
h4 {
    color: red;
}
.welcome {
    background-image: url("/assets/background\ image.jpg");
    height: 300px;
    color: #00FF00;
    padding-top: 50px;
}