

h1, h2, h3 {
    color: green;
}
h4 {
    color: red;
}
.welcome {
    background-image: url("/assets/background\ image.jpg");
    height: 300px;
    color: #00FF00;
    padding-top: 50px;
}
#show-order {
    display: none;
}
#orders {
    cursor: pointer;
    color: #0088cc;
}
#orders:hover {
    text-decoration: underline;
}
.btn {
    color: #00FF00;
}